:root {
  --color-1: #90dcf3;
  --color-2: #1eb8e7;
  --color-3: #1097c0;
  --color-4: #067997;
  --color-5: #005268;
  --color-6: #d6d6d6;
  --color-7: #ff5050;
  --color-8: #feef62;
  --color-9: #b4fe62;
  --color-10: #7ad832;
  --color-11: #00b655;
  --color-12: #008877;
  --color-13: #9fabb9;
  --color-14: #7b8695;
}
